<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
hello
<form action="/username/" method="post">
    <label for="username">username: </label>
    <input id="username" type="text" name="your_name" value="{{ current_name }}">
</form>
<form action="/password/" method="post">
    <label for="password">password: </label>
    <input id="password" type="text" name="your_name" value="{{ current_name }}">
</form>
<form>
<input type="submit" value="OK">
</form>

</body>
</html>