<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>

	<span style="color:red"> {{error}}</span>

<form action="/signUp/" method="post">
{% csrf_token %}
{{sign_up_form}}
    <!-- <label for="username">username: </label>
    <input id="username" type="text" name="your_name" value="{{ current_name }}">
</form>
<form action="/password/" method="post">
    <label for="password">password: </label>
    <input id="password" type="text" name="your_name" value="{{ current_name }}">
</form>
<form> -->
<input type="submit" value="Sign up">
</form>

I already have an account, <a href="/login =/">login</a>
</body>
</html>